html {
  width: 1440px;
  height: 2385px;
}

body {
  margin: 0px;
  color: #161616;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #171717;
}
