.container {
  max-height: 94px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94px;
}


.header h1 {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: #161616;
  margin: 32px 0px 31px 69px;
}

.perfil img {
  width: 138px;
  height: 23px;
  margin: 36px 70px 34px 0px;
}

.banner {
  height: 375px;
  width: 1884px;
  object-fit: cover;
}

.promo {
  display: flex;
  justify-content: space-between;
  padding-top: 33px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 28px;
  border-bottom: 0.2px solid #a5a1a1;
  width: auto;
}

.p1 {
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.p2 {
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}
