.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 57px 70px 7.25rem;
  grid-column-gap: 12.18rem;
  grid-row-gap: 4.06rem;
}

.grid img {
  width: 303px;
  height: 303px;
  object-fit: cover;
}

.produtos h3 {
  font-family: "Lato";
  font-weight: 500;
  font-size: 22px;
  line-height: 26.4px;
  height: 26px;
  padding-top: 23px;
}

.produtos p {
  font-family: "Lato";
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  height: 30px;
  padding-top: 11px;
}

.produtos span {
  font-family: "Lato";
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  height: 30px;
  padding-top: 11px;
  color: #5ca720;
}

.preco {
  display: flex;
  justify-content: start;
}
